@charset "ISO-8859-1";
body{
    background: linear-gradient(-90deg, #000000, #003d3d, #0e0f0f, #011718);
	background-size: 400% 400%;
    animation: backgroundanimate 10s ease-in-out infinite;
    align-items: center;
    padding-top: 10%;
  } 
.welcome{
      align-items: center;
  }
p{
    font-family: "Courier";
    color: rgb(0, 247, 255);
    text-align: center; 
    font-size: 40px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    animation: welcome 2s steps(50, end);
  }
.container{
      align-items: center;
  }
.card{
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 25px;
    position: relative;
    width: 100%;
    height:70%;
    animation: animatedgradient 2s ease alternate infinite;
  }
p:nth-child(2){
    animation: employee 4s steps(50, end);
  }
p:nth-child(3){
    animation-delay:3s;
    animation: employee 4s steps(50, end);
  }
.buttonclass{
    padding-bottom: 10px;
  }
.btn{
    animation: fade ease 10s;
    
  }
.btn:hover{
      background-color: black;
      color:azure;
  }
i{
    animation: icon 1s infinite;
  }
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes welcome{ 
    from { width: 0; } 
  } 
@keyframes employee{
    0%{width: 0;}
    25%{width: 0;}
    100%{ width: 100; } 
} 
@keyframes icon{
    to{opacity: 0%;}
  }
@keyframes backgroundanimate {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}
@keyframes animatedgradient {
	0%,50%,90%
	{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(to bottom, #00eeff, #000000, #00eeff, #000000) 27;
	}
	10%,60%,100%
	{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(to bottom, #00d6dd, #000000, #00e1ff, #000000) 27;
	}
}
